@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 260 30% 98%;
    --foreground: 260 50% 10%;

    --card: 260 30% 97%;
    --card-foreground: 260 50% 10%;

    --popover: 260 30% 97%;
    --popover-foreground: 260 50% 10%;

    --primary: 84 81% 50%;
    --primary-foreground: 260 50% 10%;

    --secondary: 260 20% 94%;
    --secondary-foreground: 260 50% 10%;

    --muted: 260 15% 92%;
    --muted-foreground: 260 20% 40%;

    --accent: 261 84% 62%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 260 20% 90%;
    --input: 260 20% 90%;
    --ring: 84 81% 50%;

    --radius: 1.25rem;

    --sidebar-background: 260 25% 97%;
    --sidebar-foreground: 260 40% 25%;
    --sidebar-primary: 84 81% 50%;
    --sidebar-primary-foreground: 260 50% 10%;
    --sidebar-accent: 260 20% 94%;
    --sidebar-accent-foreground: 260 50% 10%;
    --sidebar-border: 260 20% 90%;
    --sidebar-ring: 81 81% 50%;
  }

  .dark {
    --background: 260 40% 5%;
    --foreground: 260 10% 98%;

    --card: 260 40% 8%;
    --card-foreground: 260 10% 98%;

    --popover: 260 40% 8%;
    --popover-foreground: 260 10% 98%;

    --primary: 84 81% 65%;
    --primary-foreground: 260 50% 5%;

    --secondary: 260 30% 12%;
    --secondary-foreground: 260 10% 98%;

    --muted: 260 30% 15%;
    --muted-foreground: 260 10% 70%;

    --accent: 261 84% 62%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 260 30% 15%;
    --input: 260 30% 15%;
    --ring: 84 81% 65%;

    --sidebar-background: 260 45% 4%;
    --sidebar-foreground: 260 10% 75%;
    --sidebar-primary: 84 81% 65%;
    --sidebar-primary-foreground: 260 50% 5%;
    --sidebar-accent: 260 30% 12%;
    --sidebar-accent-foreground: 260 10% 98%;
    --sidebar-border: 260 30% 15%;
    --sidebar-ring: 84 81% 65%;
  }
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}